.icon {
    font-size: 30px;
    padding-right: 1.5rem;
}
.box {
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    background: var(--bg-secondary);
    display: flex;
}
.textBox {
    display: flex;
}
.userBox {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 15px;
    padding-right: 1rem;
}
