<div class="about">
    <div class="title">
        <p color="accent">Método de enseñanza</p>
    </div>
    <div class="text">
        <p class="subtext">Large Body</p>
        <p class="subheader">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus libero harum dignissimos culpa sed quia labore, consequuntur iste earum eveniet, dolores at laudantium a, maxime hic suscipit atque optio commodi.</p>
    </div>
    <div class="text">
        <p class="subtext">Large Body</p>
        <p class="subheader">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus libero harum dignissimos culpa sed quia labore, consequuntur iste earum eveniet, dolores at laudantium a, maxime hic suscipit atque optio commodi.</p>
    </div>
</div>
