.boxSection {
    margin: 1rem;
    border: 2px solid var(--c-primary);
    border-radius: 8px;
}
.boxSection h3 {
    color: var(--c-primary);
    font-weight: 600;
    margin: 0;
    padding: 0.5rem 1rem ;
}
.boxSection mat-divider {
    background: var(--c-secondary);
}