<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuración de estudiantes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-options [items]='menuEstudiantes'></app-options>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Configuración de clases
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-options [items]='menuClases'></app-options>
    </mat-expansion-panel>
  </mat-accordion>

<div class="boxSection">
    <h3>Clases Disponibles</h3>
    <app-class [data]='data' ></app-class>
    <mat-divider></mat-divider>
    <h3>Historial de Clases</h3>
    <app-class-history [data]='history'></app-class-history>
</div>
<app-students-list></app-students-list>
<app-last-tickets [data]='report' ></app-last-tickets>