.classSection{
    padding: 0 0.7rem 0.7rem;
}
.box {
    padding: 1rem;
    background: var(--c-secondary);
}
.box .boxTitle {
    color: var(--c-grey);
    font-weight: 600;
    text-transform: uppercase;
}
.items {
    color: var(--c-primary);
    font-weight: 500;
}
.info{
    display: flex;
    justify-content: flex-start;
    margin: 0.3rem;
}
.info p{
    margin: 0;
    padding: 0.2rem 0 0 1rem;
}
.btnBox{
    display: flex;
    justify-content: flex-end;
}
.btn{
    margin-top: 0.5rem;
    width: 50%;
}