<div class="section">
    <h3>Ultimos ticket soporte</h3>
    <div class="box" *ngFor="let item of data">
        <div class="innerBox">
            <mat-icon class="icon" color="primary">account_circle</mat-icon>
            <div>
                <div class="textBox">
                    <span class="userBox">{{ item.user }}</span>
                    <small>{{ item.date }}</small>
                </div>
                <p>{{ item.report }}</p>
            </div>
        </div>
        <div>
            <form class="example-form" >
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Respuesta</mat-label>
                    <textarea matInput placeholder="Escribe una respuesta aquí"></textarea>
                </mat-form-field>
                <div>
                    <button class="btn" type="submit" (click)=send() mat-flat-button color="primary">Responder</button>
                </div>
            </form>

        </div>
    </div>
</div>