.contactTitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.09rem;
    line-height: 2rem;
    padding: 0 1rem;
}
.form {
    padding-top: 2rem;
}
.inputForm {
    width: 100%;
}
.btn {
    padding: 0.25rem 2.5rem;
    text-transform: uppercase;
    border-color: var(--c-primary);
    border-width: 0.15rem;
    width: 100%;
}