<div class="pageSection">
    <div class="title">
        <p>Planes</p>
    </div>
    <div *ngFor="let plan of plans">
        <div class="box">
            <div class="cardTitle">
                <p>{{ plan.title }}</p>
            </div>
            <div class="section">
                <p>{{ plan.body }}</p>
            </div>
            <div class="cardTitle">
                <p>{{ plan.price }}</p>
            </div>
        </div>
        <div class="divBtn">
            <button class="btn" mat-stroked-button color="primary">Adquirir</button>
        </div>
    </div>
</div>
