.listSection{
    padding: 0.7rem;
}
.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--bg-primary);
    border-radius: 6px;
}
.box p {
    color: var(--color-accent);
    font-weight: 600;
    margin: 0;
}
.btn {
    padding: 0 2rem;
}