<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <span>{{ title }}</span>
        <span class="user" *ngIf="name">&nbsp; {{ name }}</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="activeMenu(true)">
            <mat-icon>menu</mat-icon>
        </button>
        <ul class="navigation" *ngIf="active">
            <button class="close" (click)="activeMenu(false)" mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
            <li *ngFor="let item of items; let i = index" >
                <a [routerLink]="item.link" (click)="activeMenu(false)">{{ item.option }}</a>
            </li>
        </ul>
    </mat-toolbar-row>
</mat-toolbar>