<div class="plans">
    <div class="title">
        <p color="accent">Planes</p>
    </div>
    <div class="box">
        <div class="cardTitle">
            <p>Plan S</p>
        </div>
        <div class="section">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint impedit saepe excepturi voluptatum. </p>
        </div>
        <div class="cardTitle">
            <p>$120.000</p>
        </div>
    </div>
    <div>
        <div class="divBtn">
            <button class="btn" mat-stroked-button color="primary">Normal</button>
        </div>
    </div>
</div>
