<div class="benefits">
    <div class="title">
        <p>Beneficios</p>
    </div>
    <div class="box">
        <div class="iconDiv">
            <mat-icon class="icon" color="primary">account_circle</mat-icon>
        </div>
        <div class="pText">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id suscipit deserunt dolor consectetur nisi harum illum necessitatibus adipisci odio sit velit iste voluptates ratione ut, natus quibusdam dolorum atque repellendus.
            </p>
        </div>
    </div>
    <div class="joinUs">
        <div class="subtitle">
            <p color="accent">¿Qué esperas para empezar?</p>
        </div>
        <div class="divBtn">
            <button class="btn" mat-flat-button color="primary">Unete</button>
        </div>
    </div>
</div>
