<div class="benefits">
    <div class="title">
        <p>Beneficios</p>
    </div>
    <div class="box" *ngFor="let item of content">
        <div class="iconDiv">
            <mat-icon class="icon" color="primary">{{ item.icon }}</mat-icon>
        </div>
        <div class="pText">
            <p>{{ item.text }}
            </p>
        </div>
    </div>
    <div class="joinUs">
        <div class="subtitle">
            <p color="accent">¿Qué esperas para empezar?</p>
        </div>
        <div class="divBtn">
            <button class="btn" mat-flat-button color="primary">Unete</button>
        </div>
    </div>
</div>
