.box {
    margin: 1rem;

}
.box .darkblue {
    background: var(--c-darkblue);
    padding: 1rem;
    border-radius: 8px 8px 0 0;
    color: white
}
.darkblue p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
}
.box .blue {
    background: var(--c-primary);
    padding: 1rem;
    border-radius:  0 0 8px 8px;
    color: white;
    line-height: 2rem;
    display: flex;

}
.box .blue p {
    font-size: 1rem;
    margin: 0;
}
.box .btn {
    color: var(--c-darkblue);
    font-weight: 500;
    padding: .5rem;
}