<div *ngFor="let item of data" class="classSection">
    <div class="box">
        <p class="boxTitle">ramo: {{ item.course }}</p>
        <p>Termino el {{ item.day }} de {{ item.month }} del {{ item.year }}</p>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header >
                <mat-panel-title >
                    Detalles
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
        </mat-expansion-panel>
    </div>
</div>

