.classSection{
    padding: 0 0.7rem 0.7rem;
}
.box {
    padding: 1rem;
    background: var(--c-secondary);
}
.box .boxTitle {
    color: var(--c-grey);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.box p {
    color: var(--c-grey);
    font-weight: 600;
}
mat-panel-title {
    color: var(--c-primary);
}