.box {
    padding: 0.6rem;
    background: var(--bg-forms);
    display: flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}
.box h3 {
    margin: 0;
}
.formSection {
    padding: 1rem;
}