<div class="pageSection">
    <div class="title">
        <p>Testimonios</p>
    </div>
    <div class="box">
        <div >
            <mat-icon class="icon" color="primary">account_circle</mat-icon>
        </div>
        <div>
            <div class="textBox">
                <p class="userBox">Name Surname</p>
                <small>1h ago</small>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint impedit saepe excepturi voluptatum. </p>
        </div>
    </div>
</div>
