<div class="pageSection">
    <div class="title">
        <p>Testimonios</p>
    </div>
    <div class="box" *ngFor="let testimonial of testimonials">
        <div >
            <mat-icon class="icon" color="primary">{{ testimonial.icon }}</mat-icon>
        </div>
        <div>
            <div class="textBox">
                <p class="userBox">{{ testimonial.name }}</p>
                <small>{{ testimonial.time }}</small>
            </div>
            <p>{{ testimonial.body }}</p>
        </div>
    </div>
</div>
