
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$missRomy-primary: mat.define-palette(mat.$blue-palette);
$missRomy-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$missRomy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$missRomy-theme: mat.define-light-theme((
  color: (
    primary: $missRomy-primary,
    accent: $missRomy-accent,
    warn: $missRomy-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($missRomy-theme);

:root {
  --color-primary: hsl(207, 90%, 54%);
  --color-accent: hsl(0, 0%, 62%);
  --bg-primary: hsl(207, 89%, 86%);
  --bg-forms: hsl(207, 83%, 69%);
  --bg-secondary: hsl(205, 87%, 94%);
  
}
.pageSection{
  padding: 1.25rem 2.5rem;
  color: var(--color-accent)
}
.title {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.09rem;
}
.text {
  padding-top: 1.5rem;
}
.subheader {
  font-size: 20px;
  line-height: 2rem;
}
.subtext {
  color: var(--color-primary);
}
