<div class="box1">
    <div class="mark">
        <mat-icon class="icon" color="primary">account_circle</mat-icon>
        <p>MissRomy</p>
    </div>
    <div class="info">
        <p class="pText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere, in ratione? Cumque velit enim, adipisci excepturi nostrum praesentium voluptas sint et numquam doloribus aspernatur placeat minus tempora voluptatem dolores atque?</p>
    </div>
</div>
<div class="box2">
    <ul>
        <li *ngFor="let item of footer"><a>{{ item }}</a></li>
    </ul>
    <div class="rrss">
        <mat-icon class="icon">account_circle</mat-icon>
        <p>Facebook</p>
        <mat-icon class="icon">account_circle</mat-icon>
        <p>Instagram</p>
    </div>
</div>
<div class="end">
    <p>Miss Romy 2021</p>
</div>
